/* Images of Me */
#hero-me {
  max-width: 15%;
}

/* Secondary images */
.aboutMe-image,
.project1-image,
.project2-image,
.project3-image {
  border: solid 1px #c7c7c7;
  box-shadow: 0 0 30px rgba(119, 117, 117, 0.2);
  width: 90%;
  margin: 0 auto;
}

/* Main */

.main {
  padding: 2em 1em 0.1em 1em;
}

.technologies {
  font-size: 0.9rem;
  color: #2b797e;
  font-weight: 400;
}

/* Header */

#header {
  padding: 3em 1em 3em 1em;
  width: 100%;
  margin: 0 auto;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/test.jpg") center/cover no-repeat;
  z-index: -1;
}

.header-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

/* Footer */

#footer {
  padding: 2em 1em 2em 1em;
}

/* Projects
.project1-image,
.project2-image,
.project3-image {
  border: solid 1px #c7c7c7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} */

.animation-float {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

/* Extras */
.aboutMe {
  margin: 0 1em 1em 1em;
  text-align: justify;
}

.skills,
.skills-other {
  text-align: justify;
  margin-left: 10%;
  display: inline-block;
}

.mainImage {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bold {
  font-weight: 400;
  font-size: 1em;
}

.center-text {
  text-align: center;
}

.button-margin {
  margin: 5px;
}
